/* 


.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #1e293b;
  color: white;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
}
 
.logo {
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
}
 
ul {
  list-style: none;
  padding: 0;
}
 
li {
  padding: 12px 15px;
  cursor: pointer;
  border-radius: 8px;
  margin-bottom: 8px;
  transition: 0.3s;
}
 
li:hover {
  background-color: #334155;
}
 
.active {
  background-color: #3b82f6;
}
 
li:last-child {
  margin-top: 40px;
  background-color: #dc2626;
}
 
li:last-child:hover {
  background-color: #b91c1c;
}
  */

  .sidebar {
  width: 260px;
  height: 100vh;
  background: linear-gradient(180deg, #0f172a, #1e293b);
  color: white;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  box-shadow: 4px 0 15px rgba(0, 0, 0, 0.2);
}
 
.logo {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
 
ul {
  list-style: none;
  padding: 0;
}
 
li {
  margin-bottom: 12px;
}
 
li a {
  display: block;
  padding: 10px 14px;
  border-radius: 8px;
  text-decoration: none;
  color: #cbd5e1;
  transition: 0.3s ease;
  font-size: 14px;
}
 
li a:hover {
  background: #334155;
  color: white;
}
 
.active {
  background: linear-gradient(90deg, #f33bf6, #2563eb);
  color: white !important;
  font-weight: 600;
}
 
.section-title {
  font-size: 12px;
  text-transform: uppercase;
  margin: 20px 0 10px;
  color: #94a3b8;
  letter-spacing: 1px;
}
 
.logout-btn {
  background: linear-gradient(90deg, #ef4444, #dc2626);
  border: none;
  padding: 10px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.3s;
}
 
.logout-btn:hover {
  transform: translateY(-2px);
}
 